#root {
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.mobile {
  display: none;
}

.nav {
  position: absolute;
  z-index: 100;
  top: 10%;
  left: 5%;
  display: flex;
  justify-content: space-between;
  width: 400px;

  .hamburger {
    display: none;
  }

  .nav-links-container {
    display: flex;
    width: 50%;
    justify-content: space-between;

    .nav-link {
      text-decoration: none;
      color: var(--white);
      text-decoration-thickness: 0.1rem;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -0.1rem;
        left: 0;
        width: 100%;
        border-bottom: 0.2rem solid;
        border-color: currentColor;
        opacity: 0;
        transition: opacity 0.3s ease;
      }
      &:hover::after {
        opacity: 1;
      }
    }
  }
}

#upper-wrap {
  display: flex;
  height: 65%;
  width: 100%;

  position: relative;
  #upper-img {
    width: 60%;
  }
  #upper-text-container {
    // --upSize: calc(100% * 0.4);
    // width: (var(--upSize));
    width: 40%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    #upper-text {
      margin: 0 10%;

      p {
        margin: 1rem 0;
        color: var(--dark-gray);
      }
    }

    #shop-button {
      cursor: pointer;
      border: none;
      outline: none;
      background: none;
      color: var(--dark-gray);
      text-transform: uppercase;
      letter-spacing: 0.5rem;

      #arrow {
        color: red;
      }
    }

    .button-container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 25%;
      display: flex;
      flex-direction: row;
      aspect-ratio: 2/1;

      .btn {
        width: 50%;
        background-color: var(--black);
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: var(--very-dark-gray);
        }
      }
    }
  }
}

#bottom-wrap {
  display: flex;
  height: 35%;
  // grid-template: 1fr / 2fr 3fr 2fr;
  .lower-img {
    // width: 30%;
    --curSize: calc(100% / 10 * 3);
    width: (var(--curSize));
  }
  #lower-text-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #lower-text {
      margin: 0 10%;
      h1 {
        letter-spacing: 0.1rem;
      }
      p {
        margin: 1rem 0;
        color: var(--dark-gray);
      }
    }
  }
}

.main-img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

@media screen and (max-width: 750px) {
  .open.nav {
    background-color: var(--white);
  }
  .nav {
    display: flex;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 20%;
    flex-direction: column;
    justify-content: center;

    #buger-logo-container {
      .hamburger {
        position: relative;
        left: 10%;
      }
      display: flex;
      // width: 50%;
      justify-content: space-between;

      .logo {
        position: relative;
        left: -50%;
        transform: translate(50%, 0);
      }
      .nav-links-container.mobile {
        position: relative;
        right: 10%;
      }
    }

    .hamburger {
      display: block;
    }
    .nav-links-container.desktop {
      display: none;
    }
    .nav-links-container.mobile > a {
      display: flex;
      // width: 50%;
      justify-content: space-around;
      color: var(--black);
    }
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  #root {
    display: block;
    overflow-y: auto;
  }
  #upper-wrap {
    display: flex;
    flex-direction: column;
    height: auto;

    #upper-img {
      width: 100%;
      position: relative;
      .button-container {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 25%;
        display: flex;
        flex-direction: row;
        aspect-ratio: 3/1;

        .btn {
          width: 50%;
          background-color: var(--black);
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            background-color: var(--very-dark-gray);
          }
        }
      }
      .main-img {
        height: 100%;
        vertical-align: top;
      }
    }
    #upper-text-container {
      width: 100%;
      position: static;

      #upper-text {
        margin: 2rem 1rem;

        #shop-button {
          color: var(--black);
        }
      }
      .button-container {
        display: none;
      }
    }
  }
  #bottom-wrap {
    display: flex;
    flex-direction: column;

    .lower-img {
      width: 100%;
    }

    #lower-text-container {
      width: 100%;

      #lower-text {
        margin: 2rem 1rem;
      }
    }
  }
}
